aiohttp==3.7.4.post0
audioread==2.1.9
beautifulsoup4==4.11.1
cleverwrap==0.3.0.2
Desktopmagic==14.3.11
discord.py==2.1.0
furl==2.1.3
gpuinfo==1.0.0a7
GPUtil==1.4.0
html2text==2020.1.16
imageio==2.10.4
librosa==0.8.1
matplotlib==3.4.3
numpy==1.19.5
openai==0.20.0
opencv_python==4.5.4.58
pet_pet_gif==1.0.2
picopt==3.2.5
Pillow==9.4.0
praw==7.5.0
psutil==5.8.0
PyAutoGUI==0.9.53
PyDictionary==2.0.1
pyspectator==1.2.2
python-dotenv==0.21.1
Random_Word==1.0.10
regex==2021.11.10
requests==2.26.0
SoundFile==0.10.3.post1
torch==1.11.0+cu113
tqdm==4.62.3
Wand==0.6.7
wandb==0.12.17
WMI==1.5.1
